<form [formGroup]="contactForm" (ngSubmit)="contactForm.valid && onSubmit(contactForm.value)" in>
  <div>
    <input type="text" placeholder="First Name" formControlName="firstname">
    <div *ngIf="contactForm.controls['firstname'].hasError('required')&&(contactForm.touched || contactForm.dirty)">
      please enter name
    </div>
     <div *ngIf="contactForm.controls['firstname'].hasError('minLength')">
      required 4
    </div>
    </div>
<div>
<button type="submit" [disabled]="!contactForm.valid">submit</button>
</div>
</form>